<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Cadastrar Venda</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <mat-form-field class="input" id="cliente">
            <label for="cliente">Cliente:</label>
            <input matInput type="text" name="cliente" [(ngModel)]="cliente" />
        </mat-form-field>

        <mat-form-field class="input" id="pagamento">
            <label for="pagamento">Forma Pagamento:</label><br>
            <select name="pagamento" [(ngModel)]="formaPagamentoId" name="pagamento">
                <option
                    *ngFor="let pagamento of formaP"
                    value="{{pagamento.id}}"
                >
                    {{pagamento.metodo}}
                </option>
            </select>
        </mat-form-field>

        <mat-form-field class="input" id="item">
            <label for="item">Item da Venda:</label><br>
            <select name="item" [(ngModel)]="itemVendaId"> 
                <option
                    *ngFor="let item of itens"
                    value="{{ item.id }}"
                >
                {{ item.carrinhoId }}
                </option>
            </select>
        </mat-form-field>
    </mat-card-content>
    <button mat-raised-button color="warn" (click)="cadastrar()">
        Cadastrar
    </button>
</mat-card> -->






<mat-card>
    <mat-card-header>
        <mat-card-title>Cadastrar Venda</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <mat-form-field class="input" id="cliente">
            <label for="cliente">Cliente:</label>
            <input matInput type="text" name="cliente" [(ngModel)]="cliente" />
        </mat-form-field>



        <mat-form-field class="input" id="forma">
            <label for="forma">Forma Pagamento:</label><br>
            <select name="forma" [(ngModel)]="formaPagamentoId">
                <option
                    *ngFor="let forma of formaP"
                    value="{{ forma.id }}"
                >
                    {{ forma.metodo }}
                </option>
            </select>
        </mat-form-field>



        <mat-form-field class="input" id="item">
            <label for="item">Item da Venda:</label>
            <select name="item" [(ngModel)]="itemVendaId">
                <option
                    *ngFor="let item of itens"
                    value="{{ item.id }}"
                >
                    {{ item.carrinhoId }}
                </option>
            </select>
        </mat-form-field>

    </mat-card-content>

    <button mat-raised-button color="warn" (click)="cadastrar()">Cadastrar</button>
</mat-card>
